.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.photo {
  width: 350px;
  height: 200px;
}

.info {
  display: flex;
  gap: 5px;
}

.load-more.is-hidden {
  display: none;
}